<h2><%= params[:my] ? 'Мои' : 'Все' %> петиции</h2>
<% #byebug %>

<% if params[:my] %>
    <%= render 'petitions/my_index' %>
<% else %>
<table class="table">
  <thead>
  <tr>
    <th>Петиция</th>
    <th>Автор</th>
    <th>Голоса</th>
    <th>Дата создания</th>
    <th>Осталось дней</th>
  </tr>
  </thead>
  <% @petitions.each do |petition| %>
      <%= render 'petition', petition: petition %>
  <% end %>
<% end %>

</table>